# Generated and consumed by `poetry`. It is recommended to commit this file:
# https://python-poetry.org/docs/basic-usage#commit-your-poetrylock-file-to-version-control
poetry.lock linguist-generated
